<h1>CONTACTO</h1>
<form action="">
    <div class="contact-space">
        <div>
            <label for="name">* Nombre y Apellido</label><br>
            <input type="text" id="name" name="name" class="name">
        </div>
        
        <div class="second">
            <div class="one">
                <label for="email">* Email</label><br>
                <input type="text" id="email" name="email">
            </div>
            <div class="two">
                <label for="phone">* Phone</label><br>
                <input type="text" id="phone" name="phone">
            </div>
        </div>
        <div>
            <textarea name="mensaje" id="mensaje" cols="151" rows="15">Mensaje</textarea><br>
        </div>
        <input type="checkbox" name="cb" id="cb">
        <label for="cb">Acepto las politicas de privacidad</label>
        
        <button mat-raised-button>ENVIAR</button>
    </div>
</form>
