h1{
    text-align: center;
    color: #2E3192;
    font-family: 'Bree Serif', serif;
    margin-top: 15%;


  }
  .contact-div{
    text-align: center;
    margin: auto;
    width: 70%;
  }
  mat-card{
    width: 100%;
    display: flex;
    margin-top: 2%;
    align-items: center;
    flex-direction: column;
    box-shadow: none;
    background-color:white;
    ::ng-deep .mat-form-field-underline {
        display: none;
    }
  }
  mat-form-field{
    margin-top: 1rem;
    text-decoration: none;
    box-shadow: none;
  }


  form{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    box-shadow: none;

  }


  .name{
    width: 75%;
    text-align: center;
    margin: auto;
  }

  .email{
    width: 47%;
  }

  .email_info {
    margin-left: 4px;

  }

  .phone{
    width: 47%;
  }

  .phone_info {
    margin-left: 4px;
  }

  input{
    height: 35px;
    border: 1px solid #adadad;
    background-color: rgb(238, 238, 238);
    border-radius: 3px;
    padding-left: 1rem;
  }
  

  button{
    color: white;
    background-color: #2E3192;
    width: 30%;
    height: 40px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  button:hover{
      color: #2E3192;
      background-color: white;
  }


  .bi-container{
    width: 75%;
    display: flex;
    justify-content: space-between;

  }

  .message{
    width: 75%;
    height: 4rem;
  }

  .sendMessage {
    width: 150px;
  }

  .message_content {
    margin-left: 4px;
    position: relative;
  }

  mat-label{
    color: #2E3192;
  }