
<mat-card>
    <h1>CONTACTO</h1>
    
    <form #contact = "ngForm"  (ngSubmit)="getValues(contact.value)">
        <mat-form-field class="name">
            <mat-label>Ingresa tu Nombre y Apellido</mat-label>
            <input type="text" [(ngModel)] = "name" name="name" matInput placeholder="">
        </mat-form-field>

        <div class="bi-container">
            <mat-form-field class="email">
                <mat-label class = "email_info">Introduce tu Email</mat-label>
                <input type="text" [(ngModel)] = "email" class="form-control" name="email" matInput>        
            </mat-form-field>

            <mat-form-field class="phone">
                <mat-label class = "phone_info">Introduce tu Teléfono</mat-label>
                <input type="text" class="form-control" [(ngModel)] = "phone"  name="phone"  matInput>
            </mat-form-field>   
        </div>

        <mat-form-field class="message">
            <mat-label class = "message_content">Dejanos un Mensaje!</mat-label>
            <input type="text" [(ngModel)] = "mensaje" class="form-control"  name="mensaje"  matInput>
        </mat-form-field>
        <div class="form-group">
            <button  type="submit" (click)="createMsj()" [disabled]="!name || !email || !phone || !mensaje" mat-raised-button>Enviar</button>
            
        </div>
        <div class = "form-group">
            <h4><b>{{message}}</b></h4>
        </div>

    </form>
</mat-card>



<!-- <h1>CONTACTO</h1>
<form action="">
    <div class="contact-space">
        <div>
            <label for="name">* Nombre y Apellido</label><br>
            <input type="text" id="name" name="name" class="name">
        </div>
        
        <div class="second">
            <div class="one">
                <label for="email">* Email</label><br>
                <input type="text" id="email" name="email">
            </div>
            <div class="two">
                <label for="phone">* Phone</label><br>
                <input type="text" id="phone" name="phone">
            </div>
        </div>
        <div>
            <textarea name="mensaje" id="mensaje" cols="151" rows="15">Mensaje</textarea><br>
        </div>
        <input type="checkbox" name="cb" id="cb">
        <label for="cb">Acepto las politicas de privacidad</label>
        
        <button mat-raised-button>ENVIAR</button>
    </div>
</form> -->
