mat-card{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(243, 243, 243);
  margin-bottom: 1%;
  overflow: scroll;
}



p {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

.button-container {
  text-align: center;
  margin-top: 1rem;
  

  button{
    color: white;
    background-color: #2e3192;
    padding-right:5% ;
    width:fit-content;
  }
  button:hover{
    color: #2e3192;
    background-color: white;
    
  }
}
.buttons-container {
  text-align: right;
  margin-top: 1rem;
  
  button{
    margin-left: 1%;
    
  }
}

button{
  height: 50px;
  min-width: fit-content;
}

button.sol-btn{
  height: 60%;
  color: white;
  background-color: #2e3192;

}





h1{
  color: #2e3192;
  font-family: "Bree Serif", serif;
  margin-top: 5%;
}

.reject{
    color: white;
    background-color: red;
}

.green{
  background-color:  rgb(3, 180, 3);
  color: white;
}


mat-card-subtitle{
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;


}

.invisible {
  display: none;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #eee;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: grey;
  text-decoration-style: none;
  width: 120%;


}



button.green{
  color: rgb(3, 180, 3);
  background-color: white;
  
}

button.green:hover{
  background-color: rgb(3, 180, 3);
  color: white;
}

button.reject{
  color: red;
  background-color: white;
  margin-right: 10px;
  margin-left: 10px;
}
button.reject:hover{
  color: white;
  background-color: red;
}

button.trash{
  color: #2e3192;
  background-color: white;
}
button.trash:hover{
  color: white;
  background-color: #2e3192;
}


