<h1>TESTIMONIOS DE ALGUNOS DE NUESTROS CLIENTES</h1>
<div class="testimony-space">
    <div class="first">
        <img src="assets/img/placeholder.jpg" alt="">
        <p>Excelente servicio! Rapido y 
            eficiente, es sin duda alguna
            el mejor taller mecánico en 
            Caracas. </p>
            <h4>Sofia Ramirez</h4>
    </div>
    <div class="second">
        <img src="assets/img/placeholder.jpg" alt="">
        <p>Fue una experiencia!
        Increible servicio y un grupo de 
        mécanicos muy amable. 100% recomendable </p>
        <h4>Daniel Yanes</h4>

    </div>
    <div class="third">
        <img src="assets/img/placeholder.jpg" alt="">
        <p>Una maravilla! Fui
            atendida con el mayor de los gustos
            por un grupo de mecanicos super 
            dispuesto. </p>
            <h4>Carolina Diaz</h4>


    </div>

</div>

