<h1>TESTIMONIOS DE ALGUNOS DE NUESTROS CLIENTES</h1>
<div class="testimony-space">
    <div class="first">
        <img src="assets/img/placeholder.jpg" alt="">
        <p>Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. </p>
            <h4>Nombre Apellido</h4>
    </div>
    <div class="second">
        <img src="assets/img/placeholder.jpg" alt="">
        <p>Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. </p>
        <h4>Nombre Apellido</h4>

    </div>
    <div class="third">
        <img src="assets/img/placeholder.jpg" alt="">
        <p>Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. </p>
            <h4>Nombre Apellido</h4>


    </div>

</div>

