h1{
    color:  #2E3192;
    text-align: center;
    margin-top: 150px;
    font-family: 'Bree Serif', serif;
}

.title {
    color:  #2E3192;
    text-align: center;
    margin-top: 150px;
    font-family: 'Bree Serif', serif;
    font-size: 40px;
    padding-bottom: 20px;
}

.nosotros-box{
    width: 75%;
    background-color: rgb(202, 202, 202);
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
    height: 70%;
    overflow:auto;
    
   
    
   
   
    img{
        width: 50%;
        padding-left: 8%;
        margin: 11% auto;
        display: inline-block;
        
    }
    p{
        width: 39%;
        font-size: large;
        display: inline;
        float: right;
        margin-top: 10%;
        margin-right: 7%;
        margin-bottom: 10%;
        font-family: "Helvetica Neue", sans-serif;
        font-weight: 300;
        
        
    }
}

p::-webkit-scrollbar {
    width: 1em;
}
 
p::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}
 
p::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  outline: 1px solid rgb(255, 255, 255);
}