h1{
    color:  #2E3192;
    text-align: center;
    margin-top: 150px;
    font-family: 'Bree Serif', serif;
}

.title {
    color:  #2E3192;
    text-align: center;
    margin-top: 150px;
    font-family: 'Bree Serif', serif;
    font-size: 40px;
    padding-bottom: 20px;
}

.nosotros-box{
    width: 65%;
    background-color: rgb(202, 202, 202);
    margin: 0 auto;
    margin-bottom: 150px;
    margin-top: 50px;
    overflow:auto;
    
   

   
}

p::-webkit-scrollbar {
    width: 1em;
}
 
p::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}
 
p::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  outline: 1px solid rgb(255, 255, 255);
}

button{
    color: white;
    background-color: #2E3192;
    height: 50px;
    margin-left: 15%;
    width: auto;
    text-align: center;
      
}
button:hover{
    color: #2E3192;
    background-color: white;
}

@media only screen and (max-width: 870px) {
    p{
        display: none;
    }

    button{
        margin-left: -1%;
        //margin-right: 10%;
        //osition: absolute;

        
    }

    img{
       margin-left: 15%;
       margin-bottom: 3%;
       height: 20%;
       width: 70%;
    }

    mat-card{
        align-items: center;    }
   
  
    }

    @media only screen and (min-width: 871px) {
        p{
            width: 39%;
            font-size: large;
            display: inline;
            float: right;
            margin-top: 10%;
            margin-right: 7%;
            font-family: "Helvetica Neue", sans-serif;
            font-weight: 300; 
        }

        img{
            width: 50%;
            padding-left: 8%;
            margin: 11% auto;
            display: inline-block;
            
        }
      }