<h1>NOSOTROS</h1>
<mat-card class="nosotros-box">
    <!-- <h1>NOSOTROS</h1> -->
    <div>
        <img src="assets/img/logo-edc1.png" alt="logo">
        <p class="txt"> Bienvenido al Taller Mecánico EDC! Tu elección principal para la 
            reparacion de vehículos en Caracas, Venezuela. Nuestros muy educados 
            mecánicos certificados por ASE estan siempre entusiasmados de ayudar y
            colaborar para brindarle a tu vehículo el mejor servicio posible.
            Nuestro grupo tiene la capacidad de llegar a la base del problema y solucionar fallas 
            del automóvil. En el Taller Mecánico EDC contamos con un gran número de cliente fieles,
            ya que cumplimos con las fechas de vencimiento, superamos las garantias e indudablemente
            vamos mucho más alla!.</p>
    </div>
    <button onclick="location.href='team'" mat-raised-button>CONOCE A NUESTRO EQUIPO</button>
</mat-card>

