.container {
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 150px;
    margin-bottom: 100px;
  }
  span.taller {
    color: #2E3192;
  }
  mat-card {
    background: #f7f7f7;
  }
  form {
    width: auto;
    display: flex;
    flex-direction: column;
  }
  span.create{
      color: rgb(78, 78, 78);
  }
  
  mat-form-field {
    margin-top: 1rem;
  }
  
  button {
    margin-top: 1rem;
    margin-bottom: 10px;
  }

  button:hover{
      color: #2E3192;
      background-color: white;
  }
 