<div class="space">
    <div class="container">
        <mat-card>
            <form>
        <mat-card-title>Registrate en <span> TalleresEDC</span></mat-card-title>
        <mat-form-field class="example-full-width">
            <mat-label>Introduce tu Nombre y Apellido</mat-label>
            <input type="name" matInput placeholder="John Doe">
          </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Introduce tu Correo</mat-label>
            <input type="email" matInput placeholder="@Example.com">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Confirma tu Correo</mat-label>
            <input type="email" matInput placeholder="@Example.com">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Introduce tu teléfono</mat-label>
            <input type="phone" matInput>
          </mat-form-field>
    
          <mat-form-field class="example-full-width">
            <mat-label>Introduce tu Contraseña</mat-label>
            <input type="password" matInput>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Confrima tu Contraseña</mat-label>
            <input type="password" matInput>
          </mat-form-field>
     
            <button mat-raised-button color="primary" >Registrarse</button>
            <h4>Ya tienes cuenta? <a href="login">LOG IN</a></h4>
            </form>
        </mat-card>
    </div>
</div>
