
footer{
    text-align: center;
    margin: auto;
    width: 100%;
    height: 200px;
    margin-top: 100px;
    /* position: absolute;
    bottom: 0; */
    background-color: rgb(233, 233, 233);
    img{
        width: 8%;
        margin-top: 10px;
        margin-right: auto;
        margin-left: auto;
       
    }
    .social-media{
        text-align: center;
        width: 50%;
        margin: auto;
        img{
            margin: 10px;
        }
        img:hover{
            -webkit-filter: drop-shadow(4px 4px 4px #2E3192);
            filter: drop-shadow(4px 4px 4px #2E3192);
        }
        
    }
}

