h1{
    color: #2e3192;
    font-family: "Bree Serif", serif;
    margin-left: 15%;
    margin-top: 5rem;
}

.vehicle-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(233, 233, 233);
    margin-bottom: 15px;
    width: 70%;
    margin-left: 14%;
    
  } 
.vehicle-container p {
font-size: 12px;
}