h1{
    color: #2e3192;
    font-family: "Bree Serif", serif;
    margin-left: 13%;
    margin-top: 5rem;
}

mat-card{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(243, 243, 243);
    margin-bottom: 1.5%;
    width: 75%;
    margin-left: 13%;
    text-align: center;
    overflow-x:scroll ;
  } 


p {
font-size: 12px;
font-family: "Roboto", sans-serif;
}


.ngx-timepicker-field-example{
    width: 60%;
   
    
}

mat-form-field{
    width: 80%;
    height: 30px;
}

mat-card-subtitle{
    margin-left: 4%;
   padding-top: 3%;
   //padding-left: 1%;
   //padding-right: 1%;
}

mat-label{
    padding-top: 3%;
}

mat-icon{
    padding-top: 3%;
}

.input{
    width: 50%;
    text-align: center;
    height: 40px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #2e3192;
    background-color: rgb(233, 233, 233);
    margin-left: 30%;
    

 
}

.hora{
    max-width: 50%;
    min-width: 50%;
    text-align: center;
    height: 40px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #2e3192;
    background-color: rgb(233, 233, 233);
    margin-left: 30%;
    //margin-right: 20%;
    //margin-top: 5%;

}

mat-card-action{
    padding-left: 3%;
    padding-right: 3%;
    position:static;

}

button{
    color: white;
    background-color: #2e3192 ;
    height: 50px;
}
button:hover{
    color: #2e3192;
    background-color: white;
}

