<h1>LISTA DE ESPERA</h1>
<mat-card>
    <div class="vehicle-container" *ngFor="let car of cars">
        <img mat-card-sm-image src="{{car.img}}" alt="client's car1">
        <mat-card-subtitle>
            <p>{{car.modelo}}</p>
        </mat-card-subtitle>
        <mat-card-subtitle>
            <P>{{car.year}}</P>
        </mat-card-subtitle>
        <mat-card-subtitle>
            <P>{{car.plate}}</P>
        </mat-card-subtitle>

        <mat-card-actions>
            <div class="12hr-example">
                <input class="input" placeholder="HORA" aria-label="12hr format" [(ngModel)]="appointmentHour"
                    [ngxTimepicker]="default" readonly>
                <ngx-material-timepicker #default></ngx-material-timepicker>
            </div>
        </mat-card-actions>
        <mat-card-actions>
            <mat-form-field appearance="fill">
                <mat-label>Elige una Fecha</mat-label>
                <input matInput [(ngModel)]="appointmentDate" [matDatepicker]="picker" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </mat-card-actions>
        <mat-card-actions>
            <button mat-raised-button (click)="confirmAppointment(car.id)">CONFIRMAR</button>
        </mat-card-actions>

    </div>
</mat-card>