
<a routerLink="profile">
<button mat-flat-button>
    {{userName}}
</button></a>

    <app-client-navbar *ngIf = "clientNav" fxHide.xs></app-client-navbar>
    <app-admin-navbar *ngIf = "adminNav" class="adm" fxHide.xs></app-admin-navbar>
    <app-manager-navbar *ngIf = "managerNav" class="man" fxHide.xs></app-manager-navbar>
    <a href="/home" class="loging-b" mat-raised-button color="primary" (click) = "logOut()" fxHide.xs>Salir
        <mat-icon aria-hidden="false" aria-label="Example home icon" >logout</mat-icon>
    </a>


