
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: #2e3192;
  margin-left: 2rem;
  font-size: 100%;
}

a:hover {
  color: grey;
}

a.loging-b:hover {
  color: white;
  transform: scale(1.2, 1.2);
}

a.loging-b{
  color: white;
  background-color: #2e3192;
  
}



