<h1>MIS VEHÍCULOS</h1>
<mat-card class="profile-vehicle">
    <div class='carros'>
        <div class="vehicle-container" *ngFor="let car of cars">
            <img mat-card-sm-image src="{{car.foto}}" alt="client's car1">

            <mat-card-subtitle class="v-info">SERIAL
                <p>{{car.serial}}</p>
            </mat-card-subtitle>
            <mat-card-subtitle class="v-info">MARCA
                <p>{{car.marca}}</p>
            </mat-card-subtitle>
            <mat-card-subtitle class="v-info">MODELO
                <p>{{car.modelo}}</p>
            </mat-card-subtitle>
            <mat-card-subtitle class="v-info">AÑO
                <P>{{car.year}}</P>
            </mat-card-subtitle>
            <mat-card-subtitle class="v-info">PLACA
                <P>{{car.placa}}</P>
            </mat-card-subtitle>
            <button mat-fab color="primary" class = "delete" title="Eliminar" (click)="openEditar(content,car)">
                <mat-icon>edit</mat-icon>
              </button>
             <button mat-fab color="primary" class = "delete" title="Eliminar" (click)="delete(car)">
                <mat-icon>delete</mat-icon>
              </button>
        </div>
    </div>

    <a mat-raised-button class="agg-btn" color= "primary"  (click)= "cars.length < 3 && open(content)" [disabled] = "cars.length >= 3 ">Nuevo Vehículo</a>

</mat-card>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Registrar carro</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>
    <div class="modal-body">
        <form [formGroup]="registrarVehiculoForm">
            <div class="vehicle">
                <mat-card class="example-card">
                    <div  class="info-card">

                        <mat-card-content>

                            <p>
                                <mat-form-field class="tlf">
                                    <mat-label>*Serial del Motor</mat-label>
                                    <input matInput type="text" formControlName="serial" class="form-control">

                                </mat-form-field>
                            </p>

                            <div class="form-group">

                                <mat-form-field class="tlf">
                                    <mat-label>Marca</mat-label>
                                    <input matInput type="text" formControlName="marca" class="form-control">

                                </mat-form-field>

                            </div>

                            <table class="user-info" cellspacing="0"><tr>
                                <td><mat-form-field class="first-name">
                                <mat-label>*Modelo</mat-label>
                                <input matInput type="text" formControlName="modelo" class="form-control">

                                </mat-form-field></td>

                                <td><mat-form-field class="last-name">
                                <mat-label>*Año</mat-label>
                                <input matInput type="text" formControlName="year" class="form-control">

                                </mat-form-field></td>
                            </tr></table>

                            <p>
                                <mat-form-field class="placa">
                                    <mat-label>*Placa</mat-label>
                                    <input matInput type="text" formControlName="placa" class="form-control">

                                </mat-form-field>
                            </p>


                            <button type="button" class="btn btn-outline-dark" (click)="addNewCar()" *ngIf="!actualizar">REGISTRAR</button>
                            <button type="button" class="btn btn-outline-dark" (click)="updateCar()" *ngIf="actualizar">Actualizar</button>

                        </mat-card-content>
                    </div>

                    <mat-card-actions>

                    </mat-card-actions>
                </mat-card>
            </div>
        </form>
    </div>

  </ng-template>




