.mat-card-class {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(243, 243, 243);
  margin-bottom: 1.5%;
  width: 75%;
  margin-left: 13%;
  text-align: center;
  overflow-x: scroll;
}

p {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}
.carros {
  width: 100%;
  margin-bottom: 10%;
}

.status {
  color: #03a600;
}

a.agg-btn {
  margin-top: 1%;
  float: right;
  width: auto;
  height: 40px;
  font-size: large;
  margin-bottom: 10%;
  background-color: #2e3192;
  color: white;
  margin-right: 12%;
}

a.agg-btn:hover {
  text-decoration: none;
  color: #2e3192;
  background-color: white;
}

h1 {
  color: #2e3192;
  font-family: "Bree Serif", serif;
  margin-left: 13%;
  margin-top: 5%;
}

button:hover {
  background-color: white;
  color: #2e3192;
}

.delete {
  margin-right: 1rem;
  margin-bottom: 1.1rem;
  color: white;
  background-color: #2e3192;
}

div.menu {
  margin-left: -10px;
  color: grey;
}

input#brandChosen {
  color: black;
}

button.brand {
  margin-left: 7px;
}

input#brandChosen {
  padding: 6px;
  margin-left: 10px;
}

.hidden {
  display: none;
}

mat-card-subtitle{
  padding-left: 3%;
  padding-right: 3%;
}

.example-card{
  box-shadow: none;
}


@media only screen and (max-width: 600px) {

  p {
    font-size: 9px;
    font-family: "Roboto", sans-serif;
  }

  mat-card-subtitle{
    font-size: 10px;
  }

  mat-card{
    height: 70px;
  }

  img{
    width: 45px;
    height: 45px;
  }

  button{
    width:38px;
    height:38px;
    justify-content: center;
    padding: 0;
    margin-left: 1%;

  }

  mat-icon{
    justify-content: center;
    display: flex;
    //align-items: center;
    margin-top: -10px;
  }

  .txt{
    display: none;
  }

  .modal-body{
  max-height: 1000px;
  min-height: 499px;
  width: 20%;
  }
  
  .first-name, .last-name{
    width: 100px;
  }
  
  .btn-outline-dark{
    width: fit-content;
  }
    }

   