h1{
    color: #2e3192;
    font-family: "Bree Serif", serif;
}

mat-form-field{
    color: #2e3192;
    width: 80%;   
}

.calendar{
    margin-top: 3rem;
    display: inline-block;
    margin-left: 13%;
    
}

mat-card {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(243, 243, 243);
    margin-bottom: 1.5%;
    width: 75%;
    margin-left: 13%;
    text-align: center;
    
}



p {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

mat-card-subtitle{
    vertical-align: middle;
}

.material-icons{
    color: green;
}