<div class="calendar">
    <h1>CALENDARIO</h1>
    
</div>
<full-calendar [options]="calendarOptions"></full-calendar>

<div class="search-space">
    <form action="search">
        <input type="Search" name = "filterCar"placeholder="Search..." [(ngModel)]="filterCar">
        <button mat-raised-button>Search</button>
    </form>
</div>  

<div *ngFor="let car of cars | filterCar: filterCar">
    <div class="vehicle-container"  *ngIf="car.appointmentConfirmed">
        <mat-card>
            <img mat-card-sm-image src="{{car.photo}}" alt="client's car1">
            <mat-card-subtitle>CLIENTE
                <p>{{car.ownerName}}</p>
            </mat-card-subtitle>
            <mat-card-subtitle>MARCA
                <p>{{car.brand}}</p>
            </mat-card-subtitle>
            <mat-card-subtitle>MODELO
                <p>{{car.model}}</p>
            </mat-card-subtitle>
            <mat-card-subtitle>AÑO
                <P>{{car.year}}</P>
            </mat-card-subtitle>
            <mat-card-subtitle>PLACA
                <P>{{car.plate}}</P>
            </mat-card-subtitle>
            <mat-card-subtitle>FECHA
                <P>{{car.appointmentDate}} - {{car.appointmentHour}}</P>
            </mat-card-subtitle>
            <mat-card-actions><span class="material-icons">
                    task_alt
                </span></mat-card-actions>
        </mat-card>
    </div>
</div>
