<div class="calendar">
    <h1>CALENDARIO</h1>
    <mat-form-field appearance="fill">
        <mat-label>Elige una Fecha</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
<mat-card>
    <div *ngFor="let car of cars">
        <div class="vehicle-container"  *ngIf="car.appointmentConfirmed">
            <img mat-card-sm-image src="{{car.img}}" alt="client's car1">
            <mat-card-subtitle>SERIAL
                <p>{{car.serial}}</p>
            </mat-card-subtitle>
            <mat-card-subtitle>MARCA
                <p>{{car.brand}}</p>
            </mat-card-subtitle>
            <mat-card-subtitle>AÑO
                <P>{{car.year}}</P>
            </mat-card-subtitle>
            <mat-card-subtitle>PLACA
                <P>{{car.plate}}</P>
            </mat-card-subtitle>
            <mat-card-subtitle>HORA
                <P>{{car.appointmentDate.hour}}</P>
            </mat-card-subtitle>
            <mat-card-actions><span class="material-icons">
                    task_alt
                </span></mat-card-actions>
        </div>
    </div>
</mat-card>