.search-space{
    text-align: right;
    margin-right: 12%;
    margin-bottom: 2%;
    form{
        padding-top: 20px;
    };

    input{
        width: 30%;
        align-items: center;
        height: 50px;
        margin-top: 40px ;
        border: 1px solid rgb(151, 151, 151);
    
    }
    button{
        height: 50px;
        color: white;
        background-color: #2E3192;
        margin-bottom: 25px;
        border-radius: 0;
    }
    button:hover{
        color:#2E3192;
        background-color: white;
    }
}