h1{
    color: #2e3192;
    font-family: "Bree Serif", serif;
    margin-left: 13%;
    margin-top: 5rem;
}

mat-card{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(243, 243, 243);
    margin-bottom: 1.5%;
    width: 75%;
    margin-left: 13%;
    text-align: center;
    overflow-x: scroll;

    
  } 
p {
font-size: 12px;
font-family: "Roboto", sans-serif;
padding-left: 3%;
padding-right: 3%;

}


.search-space{
    text-align: left;
    margin-left: 13%;
    

    input{
        width: 25%;
        align-items: center;
        height: 50px;
        margin-top: 2%;
        border: 1px solid rgb(151, 151, 151);
    
    }
    button{
        height: 50px;
        color: white;
        background-color: #2E3192;
        margin-bottom: 25px;
        width: fit-content;

    
    }
    button:hover{
        color:#2E3192;
        background-color: white;
    }
}

button{
    height: 50px;
    color:#2E3192;
    background-color: white;
    margin-bottom: 25px;
    
}

button:hover{
    color: white;
    background-color: #2E3192;
}

img{
    border-radius: 50%;
}

.btn{
    margin-left: 5%;
    margin-right: 5%;
    display:block;
    min-width: fit-content;
}

mat-card-subtitle{
    padding-left: 2%;
    padding-right: 2%;

}