h1{
    text-align: center;
    color: #2E3192;
    margin-top: 80px;
    margin-bottom: 30px;
    font-family: 'Bree Serif', serif;
}
img{
    width: 35%;
    display: inline-block;
    margin-bottom: 30px;
}

.one{
    margin-left: 14%;
}

.two{
    margin-left: 2%;
}

.div {
margin-left: 210px;
}

agm-map {
    height: 600px;
    width: 1000px;
}