h1{
    text-align: center;
    color: #2E3192;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: 'Bree Serif', serif;
}



.div {
margin-left: auto;
height: 30%; 
width :50%; 
position:static;

}


@media only screen and (max-width: 600px) {

    agm-map {
        height: 300px;
        width: 300px;
     
    }

    .div{
        align-items: center;
        margin-left: 10%;
        
    }
  
    }

@media only screen and (min-width: 601px) {
    .div{
    margin-left: 3%;
   
        
    }

    agm-map {
        height: 480px;
        width: 700px;
       
    }
    }