h1{
    text-align: center;
    color: #2E3192;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: 'Bree Serif', serif;
}
img{
    width: 35%;
    display: inline-block;
    margin-bottom: 30px;
}

.one{
    margin-left: 14%;
}

.two{
    margin-left: 2%;
}

.div {
margin-left: 23%;
align-items: center;
height: 200px; 
width :50%; 
margin-bottom: 25%; 
margin-right:  210px;;
}

agm-map {
    height: 480px;
    width: 700px;
    
}