h1{
    text-align: center;
    color: #2E3192;
    margin-top: 80px;
    margin-bottom: 30px;
    font-family: 'Bree Serif', serif;
}
img{
    width: 35%;
    display: inline-block;    
    margin-bottom: 30px;
}

.one{
    margin-left: 14%;
}

.two{
    margin-left: 2%;
}