<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [ngClass]="{hidden: (isHandset$ | async) === false}"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <!-- <mat-toolbar>Menu</mat-toolbar> -->
    <mat-nav-list>
      <a mat-button (click) ="toHome()" routerLink = "/home" routerLinkActive = "active ">Home</a>
      <a mat-button (click) ="toAbout()"li routerLinkActive = "active">Nosotros</a>
      <a mat-button (click) ="toLocation()"li routerLinkActive = "active">Ubicación</a>
      <a mat-button (click) ="toContact()"li routerLinkActive = "active">Contacto</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="container">
        <div class="logo-container">
            <img src="assets/img/logo-edc1.png" alt="logo">
        </div>
        <div *ngIf="!userLog" class="buttons-container">    
            <a mat-button (click) ="toHome()" routerLink = "/home" routerLinkActive = "active ">Home</a>
            <a mat-button (click) ="toAbout()"li routerLinkActive = "active">Nosotros</a>
            <a mat-button (click) ="toLocation()"li routerLinkActive = "active">Ubicación</a>
            <a mat-button (click) ="toContact()"li routerLinkActive = "active">Contacto</a>
        </div> 
        <div class="login" *ngIf="!userLog">       
            <a class="loging-b" mat-raised-button color="primary" routerLink="/login">Login    
                <mat-icon aria-hidden="false" aria-label="Example home icon">login
                </mat-icon>
            </a>
        </div>
        <div class="login" *ngIf="userLog" >
          <button routerLink='/user' class="profile-data" mat-flat-button *ngIf="userLog">{{userLog.displayName}} <img src="{{userLog.photoURL}}" alt="" mat-card-avatar> </button>
          <a mat-button routerLink='user/vehicles' >Vehículos</a>
          <a mat-button routerLink = 'user/calls'>Citas</a>
          <a href="/home" class="loging-b" mat-raised-button color="primary" (click) = "logOut()">Salir
            <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="userLog">logout</mat-icon>
        </a>
      </div>
    </div>
      
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
