.car-pic {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  width: 30%;
  float: left;
  margin-left: 20%;
  float: left;
}

.info-card {
  margin-top: 2%;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  //width: auto;
  float: right;
}

.foto {
  background-color: #f3f3f3;
  height: 340px;
}

.r-foto {
  margin-bottom: 10%;
  float: right;
  margin-right: 15%;
}

img {
  border-radius: 50%;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

mat-card {
  width: 100%;
  display: flex;
  align-items: center;
  contain: content;
  flex-direction: row;
}

mat-form-field {
  margin-top: 1rem;
  text-decoration: none;
}

form {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.last-name {
  margin-left: 10%;
  position: static;
}

.tlf {
  width: 100%;
}

.re-btn {
  margin-top: 3%;
  float: right;
}

.vehicle {
  display: inline-block;
  align-items: center;
}

.pic-btn {
  align-items: center;
  display: block;
  margin: auto;
  margin-top: 8%;
}

.last-name,
.first-name {
  width: 40%;
}

div.menu {
  margin-left: -10px;
  color: grey;
  z-index: 1;
  position: absolute;
}

input#brandChosen {
  color: black;
}

button.brand {
  margin-left: 7px;
}

input#brandChosen {
  padding: 6px;
  margin-left: 10px;
}

