<div class="vehicle">
<mat-card class="example-card">

    
    <div  class="info-card">
    
        <mat-card-content>
           
            <p>
                <mat-form-field class="tlf">
                    <mat-label>*Serial del Motor</mat-label>
                    <input matInput>
                </mat-form-field>
            </p>

            <div class="menu">
            
         
                    <mat-menu #appMenu = "matMenu">
                        <button color = "primary" mat-menu-item *ngFor="let brand of brands" (click) ="onClick(brand.name)">
                            {{brand.name | uppercase}}
                        </button>
                    </mat-menu>
        

                   <button mat-stroked-button color= "primary" [matMenuTriggerFor] = "appMenu" class = "brand">Marca</button>
                   <input id = "brandChosen" type="text" name = "brandC" readonly>


            </div>

            <table class="user-info" cellspacing="0"><tr>
                <td><mat-form-field class="first-name">
                <mat-label>*Modelo</mat-label>
                <input matInput>
                </mat-form-field></td>

                <td><mat-form-field class="last-name">
                <mat-label>*Año</mat-label>
                <input matInput>
                </mat-form-field></td>          
            </tr></table>
            
            <p>
                <mat-form-field class="placa">
                    <mat-label>*Placa</mat-label>
                    <input matInput>
                </mat-form-field>
            </p>

            <button mat-raised-button color="primary" class="re-btn">REGISTRAR</button> 

        </mat-card-content>
    </div>

    <mat-card-actions>
      
    </mat-card-actions>
  </mat-card>
</div>


<div class="car-pic">
    <mat-card class="foto">
        
        <mat-card-content>
           
            <img src="assets/img/placeholder.jpg"  alt="Avatar">

            <button mat-raised-button color="primary" class="pic-btn">Subir Imagen <mat-icon>photo_camera</mat-icon></button> 
            
        </mat-card-content>

       
            
        
    </mat-card>
</div>
  

