.car-info{
    flex-direction: row;
    display: flex;
    margin-left: 15%;

}

.car-profile, .car-profile-pic{
    margin-top: 2%;
    margin-bottom: 3%;
}

.car-profile{
    margin-left: 3%;
    margin-top: 4%;
    width: 30%;
    height: 35%;
}

.car-profile-pic{
    width: 40%;
    box-shadow: none;
    //height: 200px;
}


mat-card-subtitle{
    margin-top: 30%;
}


  img {
    border-radius: 50%;
    width: 60%;
    display: block;
    margin-left: 20%;
    margin-right: auto;
  }

  .pic-btn {
    align-items: center;
    display: block;
    margin: auto;
    margin-top: 8%;
  }

h2{
  color: #2e3192;
    font-family: "Bree Serif", serif;
    margin-left: 10%;
    margin-top: 5%;
    font-weight: 80;
}

.list{
  display: row;
  margin-bottom: auto;
  margin-left: 25%;
  margin-right: 30%;    
}

.r1{
  float:left;
}

.r2{
  float:right;
}

.buttons-container {
  text-align: right;
  position:absolute;
  margin-bottom: 5%;
  
}

button{
  margin-top: 5%;
  margin-left: 70%;
  width: auto;
  height: 50px;
  background-color: #2e3192;
  color: white;
  font-size: large;
}

mat-selection-list {
  max-height: 400px;
  overflow-y:scroll;

}