<div class="car-info">

<mat-card class="car-profile-pic" >

    <mat-card-content class="pic">

        <img src="assets/img/placeholder.jpg" alt="Avatar">

        <button mat-raised-button color="primary" class="pic-btn">Subir Imagen <mat-icon>photo_camera</mat-icon>
            </button>

    </mat-card-content>

    
    <mat-card-actions>
      
    </mat-card-actions>
  </mat-card>
  

  <mat-card class="car-profile">

    <mat-card-content >
        
        <mat-card-subtitle class="info">Marca: {{marca}} </mat-card-subtitle>
        <mat-card-subtitle>Color: {{color}} </mat-card-subtitle>
        <mat-card-subtitle>Kilometraje:{{kilometraje}} </mat-card-subtitle>
        <mat-card-subtitle>Nivel de Tanque: {{tanque}} </mat-card-subtitle>
        <mat-card-subtitle>Extras:{{extra}} </mat-card-subtitle>

    </mat-card-content>
    <mat-card-actions>
      
    </mat-card-actions>
  </mat-card>

</div>

