<div class="car-info">

<mat-card class="car-profile-pic" >

    <mat-card-content class="pic">

        <img src="assets/img/placeholder.jpg" alt="Avatar">
<!--
        <button mat-raised-button color="primary" class="pic-btn">Subir Imagen <mat-icon>photo_camera</mat-icon>
            </button>
          -->
    </mat-card-content>

    
    <mat-card-actions>
      
    </mat-card-actions>
  </mat-card>
  

  <mat-card class="car-profile">

    <mat-card-content >
        
        <mat-card-subtitle class="info">Marca: {{marca}} </mat-card-subtitle>
        <mat-card-subtitle>Modelo: {{modelo}} </mat-card-subtitle>
        <mat-card-subtitle>Año: {{year}} </mat-card-subtitle>
        <mat-card-subtitle>Color: {{color}} </mat-card-subtitle>
        <mat-card-subtitle>Placa: {{placa}} </mat-card-subtitle>
        <mat-card-subtitle>Kilometraje:{{kilometraje}} </mat-card-subtitle>
        <mat-card-subtitle>Nivel de Tanque: {{tanque}} </mat-card-subtitle>
        <mat-card-subtitle>Extras:{{extra}} </mat-card-subtitle>

    </mat-card-content>
    <mat-card-actions>
      
    </mat-card-actions>
  </mat-card>

</div>

<h2>SELECCIONAR SI EXISTE:</h2>

<div class="list">

    <mat-selection-list #list class="r1">
        <mat-list-option color = "primary" *ngFor="let list of typesLists">
        {{list}}
        </mat-list-option>
    </mat-selection-list>

    <mat-selection-list #list2 class="r2">
        <mat-list-option  color = "primary" *ngFor="let list2 of typesLists2">
        {{list2}}
        </mat-list-option>
        
    </mat-selection-list>

</div>

<div class="button-container">
  <button mat-raised-button >ACEPTAR</button>
</div>