1<h1>RESUMEN ADMINISTRATIVO</h1>
<div class="main-div">

    <mat-card>
        <p><b>{{clients.length}}</b> clientes</p>
        <button mat-raised-button (click)="getClientInfo()">Ver mas</button>
    </mat-card>
    <mat-card>
        <p><b>{{admins.length}}</b> admins</p>
        <button mat-raised-button (click)="getAdminInfo()">Ver mas</button>
    </mat-card>
    <mat-card>
        <p><b>{{managers.length}}</b> managers</p>
        <button mat-raised-button (click)="getManInfo()">Ver mas</button>
    </mat-card>
    <mat-card>
        <p><b>{{mechanics.length}}</b> mecanicos</p>
        <button mat-raised-button (click)="getMechInfo()">Ver mas</button>
    </mat-card>
</div>
<div class="second-div">
    <mat-card>
        <p><b>{{cars.length}}</b> carros</p>
        <button mat-raised-button (click)="getCarsInfo()">Ver mas</button>
    </mat-card>
    <mat-card>
        <p><b>{{appointmetnsC.length}}</b> Reparaciones Totales</p>
        <button mat-raised-button (click)="getAppointmentsInfo()">Ver mas</button>
    </mat-card>
    <!-- <mat-card>
        <p><b>{{appointmetns.length}}</b> Citas Realizadas</p>
        <button mat-raised-button (click)="getCarsInfo()">Ver mas</button>
    </mat-card> -->
</div>


<mat-card *ngIf="personalInfo"> <!--USER DETAILS-->
    <button mat-raised-button (click)="close()">Cerrar</button>
    <div *ngFor="let info of showMore">
        <p>{{info.name}} <button mat-raised-button (click)="open(content)">
                <mat-icon>more</mat-icon>
            </button></p>

        <ng-template #content let-modal>
            <div class="modal-header">
                <h1 class="modal-title" id="modal-basic-title">Detalles de Usuario</h1>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="{{info.photo}}" alt="No Profile Image">
                <p>Nombre: {{info.name}}</p>
                <p>Fecha de ingreso al sistema: {{info.date}}</p>
                <p>Edad: {{info.age}}</p>
                <p>Telefono: {{info.phone}}</p>
                <p>Correo Electronico: {{info.email}}</p>
                <p>Genero: {{info.gender}}</p>

                <!-- <p>El rol es {{info.role}}</p> -->
                <p *ngIf="info.role =='client' && info.moneySpent != '0'">Dinero invertido: {{info.moneySpent}}</p>
                <p *ngIf='info.role =="mechanic"'>Carros Reparados: {{info.carsRepaired}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
            </div>
        </ng-template>
    </div>
</mat-card>

<mat-card *ngIf="carInfo"> <!--CAR DETAILS-->
    <button mat-raised-button (click)="close()">Cerrar</button>
    <div *ngFor="let info of showMore">
        <p>{{info.model}} <button mat-raised-button (click)="open(content)">
                <mat-icon>more</mat-icon>
            </button></p>

        <ng-template #content let-modal>
            <div class="modal-header">
                <h1 class="modal-title" id="modal-basic-title">Detalles de Vehiculos</h1>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="{{info.photo}}" alt="">
                <p>Marca: {{info.brand}}</p>
                <p>Modelo: {{info.model}}</p>
                <p>Año: {{info.year}}</p>
                <p>Placa: {{info.plate}}</p>
                <p>Fecha de Ingreso al Sistema: {{info.initDate}}</p>
                <p>Dueño: {{info.ownerName}}<p>
                <p>Cantidad de Servicios Realizados: {{info.timesRepaired}}</p>
                <button mat-raised-button (click)="getAppointments(info.id2)" (click) = "close(content)">Ver Servicios</button>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
            </div>
        </ng-template>
        
        
    </div>
</mat-card>

        <div *ngIf ="tecnicalInfo">
            <div *ngFor = "let at of appointments">
                <mat-card>
                    <p>Fecha de Cita: {{at.appointmentDate}}</p>
                    <p>Estado de Entrada: </p>
                    <p>     Llaves: {{at.keys}}</p>
                    <p>     Gato: {{at.gato}}</p>
                    <p>     Caucho de Repuesto: {{at.extraTire}}</p>
                    <p>     Kilometraje: {{at.carKm}}</p>
                    <p>     Gasolina: {{at.carGas}}</p>
                    <p>     Rayones: {{at.scratches}}</p>
                    <p>     Stereo: {{at.stereo}}</p>
                    <p>     Herramientas: {{at.tools}}</p>
                    <p>Mecanico encargado: {{at.mechName}}</p>
                    <p>Razon de entrada: "{{at.reason}}"</p>
                    <p>Diagnostico: "{{at.diagnostic}}"</p>
                    <p>Repuestos colocados: "{{at.repuestos}}"</p>
                    <p>Precio Total: {{at.totalPriceService | currency:'USD'}}</p>
                </mat-card>
            </div>
        </div>


<div class="second-div">

    <mat-card class="btn-press">
        <button mat-raised-button class="press" (click)="showDataS()">DATOS DEL TALLER</button>
        <p *ngIf="showData">El mejor mecanico es: <b>{{bestMech.name}}</b> con <b>{{bestMech.carsRepaired}}</b> carros
            reparados</p>
        <p *ngIf="showData">El carro mas jodido es: <b>{{bestCar.model}}</b> del ano <b>{{bestCar.year}}</b> y placa:
            <b>{{bestCar.plate}}</b> del owner <b>{{bestCar.ownerName}}</b>
        </p>
        <p *ngIf="showData"> Carros que han sido reparados: {{carsRepaired.length}}</p>
    </mat-card>


</div>
<!-- <app-client-reports></app-client-reports>
<app-vehicle-reports></app-vehicle-reports>
<app-mechanic-reports></app-mechanic-reports>
<app-garage-statistics></app-garage-statistics> -->