mat-card.m {
    display: flex;
    justify-content: space-between;
    //padding: 1rem;
    background-color:  rgb(243, 243, 243);
    margin-bottom: 1.5%;
    width: 15%;
    margin-right: 2%;
    margin-left: 2%;
    text-align: center;
    flex-direction: column;
    margin-top: 2%;
    
  }
  
  p {
    font-family: "Roboto", sans-serif;
    padding: auto;
    word-break: normal;
    margin-left: 1%;
    
    
  }

  h1 {
    color: #2e3192;
    font-family: "Bree Serif", serif;
    margin-top: 5%;
    text-align: center;
  }

  b{
      font-size: 90px;
      color: #a2a300;
  }
  p.t{
      margin-top: 5%;
      color: #a2a300;
  }
  .main-div{
      margin-top: 5%;
  }
  .main-div, .second-div{
    display: flex;
    justify-content: center;
  }

  button.h{
    color: #2e3192;
    background-color: white;
    height: 50%;
    margin-top: 4%;
    
  }

  button.h:hover{
      color: white;
      background-color: #2e3192;
  }

  .btn-press{
      background-color: white;
      box-shadow: none;
      width: 60%;
      text-align: center;
      
      
  }

  .press{
      height: 50px;
      color: white;
      background-color: #2e3192;
      margin-bottom: 5%;
      width: 60%;
      
  }
  button.press:hover{
      color: #2e3192;
      background-color: white;
  }

  p.btn-press{
      width: 200%;
      margin-top: 5%;
  }

  mat-card.user-mat{
    width: 72%;
    flex-direction: column;
    margin-bottom: 1.5%;
    text-align: center;
    background-color: rgb(243, 243, 243);
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
  }
  mat-card.single-user{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: white;
    margin-bottom: 1.5%;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    overflow-x: scroll;
    height: 60px;
    
  }

  h3{
    font-size: large;
    color: #2e3192;
    font-family: "Bree Serif", serif;
  }

  button.close-btn{
      margin-bottom: 1%;
      color: red;
      background-color: white;
  }
  button.close-btn:hover{
      color: white;
      background-color: red;
  }

  button.btns{
      width: 10%;
      color: white;
      background-color: #2e3192;
  }
  button.btns:hover{
      color: #2e3192;
      background-color: white;
  }
  .space{
      text-align: center;
  }

  img{
      width: 100px;
      height: 100px;
      border-radius: 50%;
     

  }

  .quantity{
      width: 34%;
      margin-right: 2%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 1.5%;
    background-color: #2e3192;
    text-align: center;
    font-size: 100%;
    
      
  }

  .usd{
      color: white;
      font-size: 100px;
      
  }
  .usdp{
      margin-top: 7%;
      color: white;
  }

  .data{
      font-size: 40px;
      color: #2e3192;
  }

  b.u{
    font-size: 20px;
    color: #2e3192;
  }

 .modal-title{
     color: #969696;
 }

 .see{
     color: white;
     background-color: #a2a300;
 }
 button.see:hover{
     color: #a2a300;
     background-color: white;
 }