h1 {
  color: #2e3192;
  font-family: "Bree Serif", serif;
  margin-top: 5%;
}

mat-card{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(243, 243, 243);
  margin-bottom: 1.5%;
  text-align: center;
}



p {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}
button {
  height: 50px;
}

.green {
  background-color: rgb(3, 180, 3);
  color: white;
  margin-right: 10px;
}
button.green:hover{
  color: rgb(3, 180, 3);
  background-color: white;
}

.qr{
  background-color:white;
  color: #2e3192;
}
button.qr:hover{
  color: white;
  background-color: #2e3192;
}

@media only screen and (max-width:440px) {
  

mat-card{
  height: 70px;
}

  .green,.qr{
    flex-direction: column;
    max-width:3px ;
    min-width: 3px;
    height: 35px;
    align-items: center;

    mat-icon{
      font-size: smaller;
      margin-left: -5%;
    }

  }


  mat-card-subtitle{
    font-size: smaller;
  }

  p{
    font-size: smaller;
  }

}

@media only screen and (max-width:300px) {
  .txt{
    display: none;
  }
}
