h1{
    color: #2e3192;
    font-family: "Bree Serif", serif;
    margin-top: 5%;
  }

.mat-card-class{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(243, 243, 243);
    margin-bottom: 1.5%;
    width: 75%;
    margin-left: 13%;
    text-align: center;

  }

  p {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
  }

  button {
    height: 50px;

  }

  .green{
    background-color:  rgb(3, 180, 3);
    color: white;
  }