h1{
  color: #2e3192;
  font-family: "Bree Serif", serif;
  margin-top: 5rem;
  margin-left: 11.5%;
}

.vehicle-container mat-card{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(243, 243, 243);
  margin-bottom: 1.5%;
  text-align: center;
} 
p {
font-size: 12px;
font-family: "Roboto", sans-serif;
}

.edit{
  color: #2e3192;
  background-color: white;
  margin-right: 10px;
  margin-left: 10px;
}
button.trash:hover, button.edit:hover{
  background-color: #2e3192;
  color: white;
}
.trash {
  color: #2e3192;
  background-color: white;
}

.done{
  color:  rgb(3, 180, 3);
  background-color: white;
}
button.done:hover{
  background-color: rgb(3, 180, 3);
  color: white;
}

.green{
  background-color:  rgb(3, 180, 3);
  color: white;
}

.btn{
  height: 50px;
  color: white;
  background-color: #2e3192;
  margin-bottom: auto;
  width: 60%;
  margin-top: 2%;
}
.text-inputs{
  display:flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(243, 243, 243);
  margin-bottom: 1.5%;
  text-align: center;
 
  input{
    width: 90%;
    margin-right: 160px;
    
  }
}
.checbox-area{
  display: flex;

}

.checkbox-left{
  text-align: left;
  margin-right: 10%;
  margin-left: 2%;
}

.checkbox-right{
  text-align: left;
}

h2{
  text-align: left;
  color: #2e3192;
  font-family: "Bree Serif", serif;
  margin-top: 1%;
  margin-bottom: 0.5%;
}
.first, .second, .third{
  text-align: left;
}

@media only screen and (max-width:440px) {
  

  mat-card-subtitle{
    font-size: smaller;
  }

  p{
    font-size: smaller;
  }

  button{
    width: 22px;
    height: 32px;
    align-items: center;
    flex-direction: column;
  }

  mat-icon{
    font-size: 20px;
  }
 
  }

  

  @media only screen and (max-width:320px) {
    .txt{
      display: none;
    }
  }