<div class="container">
    <mat-card>
        <form
        [formGroup] = "authForm" 
    >
    <mat-card-title>Inicia sesión en<span> TalleresEDC</span></mat-card-title>
    <mat-form-field class="example-full-width">
        <mat-label>Introduce tu Correo</mat-label>
        <input type="email" matInput placeholder="email@example.com" id="email" formControlName='email'>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Introduce tu Contraseña</mat-label>
        <input type="password" matInput id="password" placeholder="********" formControlName="password">
      </mat-form-field>

      <span class="forgot" [routerLink]="['/forgotPassword']" >¿Olvidaste tu contraseña?</span>
 
        <button type="submit" mat-raised-button (click)="handleMailLogin()">Ingresar</button>

        <div id="gSignInWrapper">
          <div id="customBtn" class="customGPlusSignIn">
            <span class="icon"></span>
            <span class="buttonText" (click) = "handleGoogleLogin()">Sign in with Google</span>
          </div>
        </div>
        <div class="register">
          <span class="create">¿No tienes una cuenta? <a class="registrate" (click)='open(content)'>REGISTRATE</a></span>
        </div>
        </form>
    </mat-card>

    <ng-template #content let-modal>

      <div class="space">
        <div class="container">
            <mat-card>
                <form [formGroup] = "authForm">
            <mat-card-title>Registrate en <span class="taller"> Talleres EDC</span></mat-card-title>
    
             <mat-form-field class="example-full-width">
                <mat-label>Introduce tu Nombre y Apellido</mat-label>
                <input type="name" matInput placeholder="John Doe" formControlName="name" >
              </mat-form-field> 
    
            <mat-form-field class="example-full-width">
                <mat-label>Introduce tu Correo</mat-label>
                <input type="email" matInput placeholder="@Example.com" formControlName="email">
              </mat-form-field>
    
               <!-- <mat-form-field class="example-full-width"> 
                <mat-label>Confirma tu Correo</mat-label>
                <input type="email" matInput placeholder="@Example.com">
              </mat-form-field>  -->
    
              <mat-form-field class="example-full-width">
                <mat-label>Introduce tu teléfono</mat-label>
                <input type="phone" matInput formControlName="phone">
              </mat-form-field> 
        
              <mat-form-field class="example-full-width">
                <mat-label>Introduce tu Contraseña</mat-label>
                <input type="password" matInput formControlName = "password">
              </mat-form-field>
    
               <!-- <mat-form-field class="example-full-width">
                <mat-label>Confirma tu Contraseña</mat-label>
                <input type="password" matInput>
              </mat-form-field>  -->
         
                <button mat-raised-button (click)="handleRegistration()">Registrarse</button>
                <span class="create">¿Ya tienes cuenta? <a href="login">LOG IN</a></span>
              
                </form>
            </mat-card>
        </div>
    </div>
    

    </ng-template>
</div> 


