.container {
  display: inline-block;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 260px;
}

mat-card {
  background: #edebeb;
}

span {
  color: #2e3192;
}

form {
  width: auto;
  display: flex;
  flex-direction: column;
}

span.forgot {
  font-size: 12px;
  text-align: right;
}

span.forgot:hover {
  cursor: pointer;
}

span.create {
  color: black;
}
div.register {
  padding-top: 7px;
}

span.registrate:hover {
  cursor: pointer;
}

mat-form-field {
  margin-top: 1rem;
}

button {
  margin-top: 1rem;
}

#customBtn {
  display: inline-block;
  background: white;
  color: #444;
  width: 100%;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}
#customBtn:hover {
  cursor: pointer;
}

span.label {
  font-family: serif;
  font-weight: normal;
}

#gSignInWrapper {
  margin-top: 1rem;
}

span.icon {
  background: url("/assets/btn_google_dark_normal_ios.svg") no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 48px;
  height: 46px;
  padding-left: 12px;
  padding-bottom: 12px;
}
span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 46px;
  padding-right: 48px;
  font-size: 14px;
  font-weight: bold;

  /* Use the Roboto font that is loaded in the <head> */
  font-family: "Roboto", sans-serif;
}
