<div class="container">
    <mat-card>
        <form
        [formGroup] = "authForm" 
    >
    <mat-card-title>Inicia sesion en<span> TalleresEDC</span></mat-card-title>
    <mat-form-field class="example-full-width">
        <mat-label>Introduce tu Correo</mat-label>
        <input type="email" matInput placeholder="email@example.com">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Introduce tu Contraseña</mat-label>
        <input type="password" matInput>
      </mat-form-field>

      <span class="forgot">¿Olvidaste tu contraseña?</span>
 
        <button mat-raised-button color="primary" >Ingresar</button>

        <div id="gSignInWrapper">
          <div id="customBtn" class="customGPlusSignIn">
            <span class="icon"></span>
            <span class="buttonText" (click) = "handleGoogleLogin()">Sign in with Google</span>
          </div>
        </div>
        <div class="register">
          <span class="create">¿No tienes una cuenta? <span class="registrate">¡Registrate!</span></span>
        </div>
        </form>
    </mat-card>
</div>

