.sidenav-container {
    height: 100px;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .hidden {
    display: none;
  }
  
  mat-toolbar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
  }
  
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .buttons-container {
    width: auto;
    display: flex;
    align-items: center;
  }
  
  .logo-container {
    width: 15%;
    height: 100%;
    margin-top: 5px;
    margin-left: 20px;
  }
  
  .logo-container img {
    width: 60%;
  }
  
  a {
    text-decoration: none;
    color: #2e3192;
    margin-left: 4rem;
    font-size: 100%;
  }
  
  a:hover {
    color: grey;
  }
  
  a.loging-b:hover {
    color: white;
    transform: scale(1.2, 1.2);
  }
  
  a.loging-b{
    color: white;
    background-color: #2e3192;
  }
  