<h1>REPARACION ACTUAL</h1>
<div class="container">
  <div class="vehicle-container" *ngFor="let appointment of appointments">
    <!-- <mat-card *ngIf="!appointment.repaired && appointment.needsReparation"> -->

        <mat-card class = "carInfo">
            <mat-card-subtitle>MARCA<p>{{ appointment.brand }}</p></mat-card-subtitle>
            <mat-card-subtitle>MODELO<p>{{ appointment.model }}</p></mat-card-subtitle>
            <mat-card-subtitle>AÑO<P>{{ appointment.year }}</P></mat-card-subtitle>
            <mat-card-subtitle class="txt">PLACA<P>{{ appointment.plate }}</P></mat-card-subtitle>
        </mat-card>

    <!-- </mat-card> -->

    <!-- <div *ngIf="editState && carToEdit.id == appointment.id"> -->
      <form (ngSubmit)="updateAppointment(appointment)">
        <div class="row">
          <div class="input-field col s6">
            <mat-card class="information">
              <mat-input>
                <h2>INFORMACION NECESARIA</h2>
                <div class="text-inputs">
                  <mat-card-subtitle class="info-txt"
                    >COLOR
                    <input
                      class="info-p"
                      type="text"
                      [(ngModel)]="appointment.carColor"
                      name="COLOR"
                    />
                  </mat-card-subtitle>
                  <mat-card-subtitle class="info-txt"
                    >Km de Ingreso
                    <input
                      class="info-p"
                      type="text"
                      [(ngModel)]="appointment.carKm"
                      name="Km"
                    />
                  </mat-card-subtitle>
                  <mat-card-subtitle class="info-txt"
                    >Nivel de Gasolina
                    <input
                      type="text"
                      class="info-p"
                      [(ngModel)]="appointment.carGas"
                      name="GAS"
                    />
                  </mat-card-subtitle>
                </div>
                <h2>SELECCIONA SI EXISTE</h2>
                <div class="checbox-area">
                  <div class="checkbox-left">
                    <mat-card-subtitle>
                      <input
                        type="checkbox"
                        [(ngModel)]="appointment.extraTire"
                        value="false"
                        name="Caucho"
                        id="extraTire"
                        (change)="print($event, appointment.extraTire)"
                      />
                      Caucho de Repuesto
                    </mat-card-subtitle>
                    <mat-card-subtitle>
                      <input
                        type="checkbox"
                        [(ngModel)]="appointment.keys"
                        value="false"
                        name="Herramientas"
                        id="keys"
                        (change)="print($event, appointment.keys)"
                      />
                      Llaves
                    </mat-card-subtitle>
                    <mat-card-subtitle>
                      <input
                        type="checkbox"
                        [(ngModel)]="appointment.tools"
                        value="false"
                        name="Herramientas"
                        id="tools"
                        (change)="print($event, appointment.tools)"
                      />
                      Herramientas
                    </mat-card-subtitle>
                  </div>
                  <div class="checkbox-right">
                    <mat-card-subtitle>
                      <input
                        type="checkbox"
                        [(ngModel)]="appointment.gato"
                        value="false"
                        (change)="print($event, appointment.gato)"
                        name="Gato"
                        id="gato"
                      />
                      Gato
                    </mat-card-subtitle>
                    <mat-card-subtitle>
                      <input
                        type="checkbox"
                        [(ngModel)]="appointment.stereo"
                        name="Herramientas"
                        id="stereo"
                        (change)="print($event, appointment.stereo)"
                        value="false"
                      />
                      Reproductor
                    </mat-card-subtitle>
                    <mat-card-subtitle>
                      <input
                        type="checkbox"
                        [(ngModel)]="appointment.scratches"
                        value="false"
                        name="Rayones"
                        id="scratches"
                        (change)="print($event, appointment.scratches)"
                      />
                      Rayones
                    </mat-card-subtitle>
                  </div>
                </div>

                <div class="first">
                  <h2>REPUESTOS NECESARIOS</h2>
                  <textarea
                    name="repuestos"
                    [(ngModel)]="appointment.repuestos"
                    cols="80"
                    rows="5"
                  ></textarea>
                </div>
                <div class="second">
                  <h2>PROCEDIMIENTO APLICADO</h2>
                  <textarea
                    name="procedimiento"
                    [(ngModel)]="appointment.procedure"
                    cols="80"
                    rows="5"
                  ></textarea>
                </div>
                <div class="third">
                  <h2>DIAGNOSTICO</h2>
                  <textarea
                    name="diagnostico"
                    [(ngModel)]="appointment.diagnostic"
                    cols="80"
                    rows="5"
                  ></textarea>
                </div>

                <mat-card-content>
                    <button mat-raised-button (click)="open(content)"color="primary" class="pic-btn">Subir Imagen
                        <mat-icon>photo_camera</mat-icon>
                        </button>

                </mat-card-content>

                <button
                  mat-raised-button
                  type="submit"
                  class="btn"
                  (click)="updateAppointment(appointment)"
                  (click)="finishWork(appointment.carId)"
                  (click)="finishWork2(appointment.id)"
                >
                  Confirmar
                </button>

              </mat-input>
            </mat-card>
          </div>
        </div>
      </form>
    <!-- </div> -->
  </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Subir Imagen</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
        <div class="form-group">
            <label for="dateOfBirth">Selecciona Imagen</label>
            <div class="input-group">
            <input type="file" (change)="upload($event)" accept=".png,.jpg">
            </div>
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button (click)="uploadImage()" mat-raised-button>SUBIR</button>
    </div>
    <progress max="100" [value]="(uploadProgress | async)"></progress>
    <div class="result" *ngIf="downloadURL | async; let uploadSrc">
        <a [href]="uploadSrc" *ngIf="!actualizar">La foto se ha subido exitosamente!</a>
    </div>
</ng-template>