.mat-card-class {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(243, 243, 243);
  margin-bottom: 1.5%;
  width: 75%;
  margin-left: 13%;
  text-align: center;
  overflow-x: scroll;
}

p {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}
.carros {
  width: 100%;
  margin-bottom: 10%;
}

.status {
  color: #03a600;
}

a.agg-btn {
  margin-top: 1%;
  float: right;
  width: auto;
  height: 40px;
  font-size: large;
  margin-bottom: 10%;
  background-color: #2e3192;
  color: white;
  margin-right: 12%;
}

a.agg-btn:hover {
  text-decoration: none;
  color: #2e3192;
  background-color: white;
}

h1 {
  color: #2e3192;
  font-family: "Bree Serif", serif;
  margin-left: 13%;
  margin-top: 5%;
}

button:hover {
  background-color: white;
  color: #2e3192;
}

.delete {
  margin-right: 1rem;
  margin-bottom: 1.1rem;
  color: white;
  background-color: #2e3192;
}

div.menu {
  margin-left: -10px;
  color: grey;
}

input#brandChosen {
  color: black;
}

button.brand {
  margin-left: 7px;
}

input#brandChosen {
  padding: 6px;
  margin-left: 10px;
}

.hidden {
  display: none;
}

mat-card-subtitle {
  padding-left: 3%;
  padding-right: 3%;
}

h1 {
  color: #2e3192;
  font-family: "Bree Serif", serif;
  margin-top: 5rem;
  margin-left: 11.5%;
}

.vehicle-container mat-card {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(243, 243, 243);
  margin-bottom: 1.5%;
  text-align: center;
}
p {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

.edit {
  color: #2e3192;
  background-color: white;
  margin-right: 10px;
  margin-left: 10px;
}
button.trash:hover,
button.edit:hover {
  background-color: #2e3192;
  color: white;
}
.trash {
  color: #2e3192;
  background-color: white;
}

.done {
  color: rgb(3, 180, 3);
  background-color: white;
}
button.done:hover {
  background-color: rgb(3, 180, 3);
  color: white;
}

.green {
  background-color: rgb(3, 180, 3);
  color: white;
}

.btn {
  height: 50px;
  color: white;
  background-color: #2e3192;
  margin-bottom: auto;
  width: 60%;
  margin-top: 2%;
}
.text-inputs {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(243, 243, 243);
  margin-bottom: 1.5%;
  text-align: center;

  input {
    width: 90%;
    margin-right: 160px;
  }
}
.checbox-area {
  display: flex;
}

.checkbox-left {
  text-align: left;
  margin-right: 10%;
  margin-left: 2%;
}

.checkbox-right {
  text-align: left;
}

h2 {
  text-align: left;
  color: #2e3192;
  font-family: "Bree Serif", serif;
  margin-top: 1%;
  margin-bottom: 0.5%;
}
.first,
.second,
.third {
  text-align: left;
}

.carInfo {
  clear: both;
  display: inline-block;
  white-space: nowrap;
}
