.user-profile {
  margin: auto;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none !important;
}

textarea.textarea {
  resize: none;
}

td {
  padding-right: 9%;
  align-items: center;
  flex-direction: row;
  position: -webkit-sticky;
  position: sticky;
}

.last-name {
  margin-left: 50%;
  position: static;
}

.datos {
  margin-right: 15%;
  margin-left: -15%;

  align-items: center;
  flex-flow: nowrap;
  width: auto;

  display: inline-block;
  align-items: center;

}

.age,
.gender,
.password,
.password2,
.tlf,
.user-info,
.email {
  width: 200%;
}

.cambio-contra,
.user-pic {
  color: #2e3192;
}

.user-pic {
  width: 30%;
  margin-left: 20%;
  margin-bottom: 35%;
}

.pic-btn {
  align-items: center;
  margin-left: -27%;
  height: 50px;
  width: 60%;

  background-color: #2e3192;
}

button:hover {
  background-color: white;
  color: #2e3192;
}

.user-pic-btn {
  background-color: rgb(233, 233, 233);
  margin-right: 15%;
  margin-top: 100%;
}

.avatar {
  display: flex;
  align-items: center;
  flex-flow: row wrap;

  float: left;

  margin-bottom: 10%;
  float: right;
  margin-right: 15%;
}

img {
  border-radius: 50%;
  width: 60%;
  display: block;
  margin-left: 20%;
  margin-right: auto;
}

.pic-btn {
  align-items: center;
  display: block;
  margin: auto;
  margin-top: 8%;
  width: auto;
}

mat-card {
  width: 90%;
  align-items: center;
  contain: content;
  flex-direction: row;

}

mat-form-field {
  text-decoration: none;
}

form {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.foto {
  background-color: white;
  border: none;
  height: 400px;
  margin-left: 2%;
  margin-right: 20%;
  margin-top: 12%;
  box-shadow: none;
}

.info-card {
  padding: 1rem;
  margin-top: 10px;
  height: 560.38px;
  margin-bottom: 0;
  box-shadow: none;
  

}



.last-name {
  margin-left: 5%;
}

.last-name,
.first-name {
  width: 100%;
}

.example-card {
  box-shadow: none;
  width: 150%;
  

}

.data-title {
  color: #2e3192;
  margin-bottom: 10%;
}

.edit-btn {
  color: white;
  background-color: #2e3192;
  //margin-left: 75%;
  margin-top: 30%;
  align-items: center;
}

.icon {
  color: #2e3192;
}

.done-btn {
  color: white;
  background-color: #2e3192;
}
.modal-title {
  color: #2e3192;
  font-family: "Bree Serif", serif;
}

.profilePic {
  width: 220px;
  height: 220px;
  margin-right: 7rem;
}

@media screen and (max-width: 1000px) {
  
 .example-card{
   width: 150%;
   padding-left: 1%;
 }

  .foto{
    width: 90%;
    margin-left: 10%;

  }

  .profilePic {
    width: 90px;
    height: 90px;
    margin-left: 12%;
  } 

  .pic-btn{
    min-width: 15%;
    height: 3%;
    text-align: center;
    font-size: 70%;
    padding: 2%;
    //margin-left: 20%;
  }

  .avatar{
    width: 50%;
    margin-left: 7%;
    padding-right: 1%;
  }
}
