<mat-card class="user-profile">


    <div class="avatar">
        <mat-card class="foto">

            <mat-card-content>

                <img src="assets/img/placeholder.jpg" alt="Avatar">

                <button mat-raised-button (click)="open(content)"color="primary" class="pic-btn">Subir Imagen <mat-icon>photo_camera</mat-icon>
                    </button>

            </mat-card-content>

        </mat-card>
    </div>


    <div class="datos">
        <mat-card class="example-card">

            <div class="info-card">

                <form [formGroup]="authForm">

                    <mat-card-content *ngIf="editInfo">

                        <table class="user-info">
                            <tr>
                                <td>
                                    <mat-form-field class="first-name">
                                        <mat-label aria-placeholder="*Username">{{userName}}</mat-label>
                                        <input matInput formControlName="name" placeholder="Nombre Completo">
                                    </mat-form-field>
                                </td>
                            </tr>
                        </table>

                        <p>
                            <mat-form-field class="email">
                                <mat-label>{{userEmail}}</mat-label>
                                <textarea matInput readonly class = "textarea"></textarea>
                            </mat-form-field>
                        </p>


                        <p>
                            <mat-form-field class="tlf">
                                <mat-label>{{userPhone}}</mat-label>
                                <span matPrefix>+58 &nbsp;</span>
                                <input matInput formControlName="phone" placeholder="4141234567">
                            </mat-form-field>
                        </p>

                        <mat-card-subtitle class="cambio-contra">CAMBIO DE CONTRASEÑA</mat-card-subtitle>

                        <p>
                            <mat-form-field class="password">
                                <mat-label>*Nueva Contraseña</mat-label>
                                <input type="password" matInput placeholder="Password">
                            </mat-form-field>
                        </p>

                        <p>
                            <mat-form-field class="password2">
                                <mat-label>*Confirmar Contraseña</mat-label>
                                <input type="password" matInput placeholder="Password">
                            </mat-form-field>
                        </p>

                        <button mat-raised-button (click) = "handleUpdateProfile()" (click)="updateInfo()" color = "primary" class = "donebtn">Done<mat-icon>done</mat-icon></button>
                    </mat-card-content>
                </form>
                <mat-card-content *ngIf="editInfo">

                    <table class="user-info">
                        <tr>
                            <td>
                                <mat-form-field class="first-name">
                                    <mat-label aria-placeholder="*Username">*Nombre</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </td>

                            <td>
                                <mat-form-field class="last-name">
                                    <mat-label>*Apellido</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>

                    <p>
                        <mat-form-field class="email">
                            <mat-label>*Email</mat-label>
                            <textarea matInput placeholder="Ej. example@gmail.com"></textarea>
                        </mat-form-field>
                    </p>


                    <p>
                        <mat-form-field class="tlf">
                            <mat-label>*Teléfono</mat-label>
                            <span matPrefix>+58 &nbsp;</span>
                            <input matInput>
                        </mat-form-field>
                    </p>

                    <mat-card-subtitle class="cambio-contra">CAMBIO DE CONTRASEÑA</mat-card-subtitle>

                    <p>
                        <mat-form-field class="password">
                            <mat-label>*Nueva Contraseña</mat-label>
                            <input type="password" matInput placeholder="Password">
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field class="password2">
                            <mat-label>*Confirmar Contraseña</mat-label>
                            <input type="password" matInput placeholder="Password">
                        </mat-form-field>
                    </p>

                    <button mat-raised-button (click)="updateInfo()" class="done-btn"> Done<mat-icon>done</mat-icon> </button>
                        <mat-icon class="icon">home</mat-icon>
             

                </mat-card-content>

                <mat-card>
                <mat-card-content *ngIf="!editInfo">
                    <mat-card-content *ngIf="dataUploaded">
                        <mat-card-title class="data-title">Perfil de Usuario</mat-card-title>
                        <mat-card-subtitle>Nombre: {{userName}}</mat-card-subtitle>
                        <mat-card-subtitle>Email: {{userEmail}}</mat-card-subtitle>
                        <mat-card-subtitle>Phone: +58 {{userPhone}}</mat-card-subtitle>

                    
                </mat-card-content>
                    <button mat-raised-button (click)="updateInfo()" class="edit-btn"> Edit<mat-icon>edit</mat-icon> </button>
                </mat-card-content>
                </mat-card>
            </div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
        <div class="form-group">
            <label for="dateOfBirth">Selecciona Imagen</label>
            <div class="input-group">
            <input type="file" change="upload($event)" accept="*.png.jpg.jpeg">
            </div>
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="uploadImg()" mat-raised-button>SUBIR</button>
    </div>
</ng-template>     