<div class="user-space">
    <div class="user">
        <div class="user-container">
            <img mat-card-sm-image src="assets/img/placeholder.jpg" alt="client's car1">
            <mat-card-subtitle>NOMBRE
                <p>Francesca Marinuzzi</p>
            </mat-card-subtitle>
            <mat-card-subtitle>TELÉFONO
                <p>414-101-3177</p>
            </mat-card-subtitle>
            <mat-form-field appearance="fill">
                <mat-label>Funcion</mat-label>
                <select matNativeControl required>
                  <option value="Cliente">Cliente</option>
                  <option value="Mecanico">Mecanico</option>
                  <option value="Gerente">Gerente</option>
                </select>
              </mat-form-field>
            
            <button mat-mini-fab class="edit"color="primary">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
        <div class="user-container">
            <img mat-card-sm-image src="assets/img/placeholder.jpg" alt="client's car1">
            <mat-card-subtitle>NOMBRE
                <p>Francesca Marinuzzi</p>
            </mat-card-subtitle>
            <mat-card-subtitle>TELÉFONO
                <p>414-101-3177</p>
            </mat-card-subtitle>
            <mat-form-field appearance="fill">
                <mat-label>Funcion</mat-label>
                <select matNativeControl required>
                  <option value="Cliente">Cliente</option>
                  <option value="Mecanico">Mecanico</option>
                  <option value="Gerente">Gerente</option>
                </select>
              </mat-form-field>
            
            <button mat-mini-fab class="edit"color="primary">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
        <div class="user-container">
            <img mat-card-sm-image src="assets/img/placeholder.jpg" alt="client's car1">
            <mat-card-subtitle>NOMBRE
                <p>Francesa Marinuzzi</p>
            </mat-card-subtitle>
            <mat-card-subtitle>TELÉFONO
                <p>414-101-3177</p>
            </mat-card-subtitle>
            <mat-form-field appearance="fill">
                <mat-label>Funcion</mat-label>
                <select matNativeControl required>
                  <option value="Cliente">Cliente</option>
                  <option value="Mecanico">Mecanico</option>
                  <option value="Gerente">Gerente</option>
                </select>
              </mat-form-field>
            
            <button mat-mini-fab class="edit"color="primary">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
    </div>
</div>
