.user-space{
    margin: 0  15%;

    margin-bottom: 5%;
    box-shadow: none !important;
    border-color: rgb(233, 233, 233);
    border-width: 100%;
    background-color: rgb(233, 233, 233);
}

.agg-btn{
    margin-top: 3%;
    float: right;
    
}

.user{
    background-color: white;
    
}

td {
    padding-right: 9%;
    align-items: center;
    flex-direction: row;
    position: -webkit-sticky;
position: sticky;
}

.user-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    background-color: rgb(243, 243, 243);
    margin-bottom: 20px;
  }
  
  .container mat-card-title {
    color: #2e3192;
  }
  
  .user-container p {
    font-size: 12px;
  }
  
  .button-container {
    text-align: right;
    margin-top: 1rem;
  }
  
  .appointment-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  img{
      width: 7%;
      border-radius: 50%;
  }

  
  button:hover{
      color: #2e3192;
      background-color: white;
  }