mat-card{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(243, 243, 243);
  margin-bottom: 1.5%;
  width: 75%;
  margin-left: 13%;
  text-align: center;
  overflow-x:scroll;
 
 
} 

p {
font-size: 12px;
font-family: "Roboto", sans-serif;
padding: auto;
word-break: normal;


}

.agg-btn{
    margin-top: 3%;
    float: right;
    
}

.user{
    background-color: white;
    
}

td {
    padding-right: 9%;
    align-items: center;
    flex-direction: row;
    position: -webkit-sticky;
    position: sticky;
}


  
  .container mat-card-title {
    color: #2e3192;
  }
  
  .user-container p {
    font-size: 12px;
  }
  
  .button-container {
    text-align: right;
    margin-top: 1rem;
  }
  
  .appointment-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  img{
      width: 10%;
      height: 10%;
      border-radius: 50%;
  }

  
  button:hover{
      color: #2e3192;
      background-color: white;
  }

  mat-card-subtitle{
    margin: 5%;
  }