mat-card{
    display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(243, 243, 243);
  margin-bottom: 1.5%;
  width: 75%;
  text-align: center;
  overflow-x: scroll;
  margin-right: auto;
margin-left: auto;
    
}

h1{
    color: #2e3192;
    font-family: "Bree Serif", serif;
    margin-top: 3rem;
    margin-left: 13%;
}

.vehicle-container { 
    text-align: center;
    width: 100%;
  } 
.vehicle-container p {
    font-size: 12px;
    padding-left: 5%;
    padding-right: 5%;
   

}

mat-card-subtitle{

    padding-left: 5%;
    padding-right: 5%;

}

button{
    color: white;
    background-color: #2e3192;
    min-width: fit-content;
    height: 50px;
}
button:hover{
    color: #2e3192;
    background-color: white;
}

b{
    color: #2e3192;
    font-size: 15px;
}


