<h1>ÓRDENES DE REPARACIÓN</h1>
<mat-card>
  <div class="vehicle-container" *ngFor="let car of appointmentInfo">
    <!-- <img mat-card-sm-image src="{{car.img}}" alt="client's car1"> -->
    <!-- <mat-card-subtitle>CLIENTE
            <p>{{car.ownerName}}</p>
        </mat-card-subtitle> -->
    <mat-card-subtitle>MARCA
      <p>{{car.carBrand}}</p>
    </mat-card-subtitle>
    <mat-card-subtitle>MODELO
      <p>{{car.carModel}}</p>
    </mat-card-subtitle>
    <mat-card-subtitle>AÑO
      <P>{{car.carYear}}</P>
    </mat-card-subtitle>
    <mat-card-subtitle>PLACA
      <P>{{car.carPlate}}</P>
    </mat-card-subtitle>
    <!-- <mat-card-subtitle>LA
          <P>{{car.lastAppointment}}</P>
      </mat-card-subtitle> -->

    <button mat-raised-button (click)="open(content)">CERRAR ORDEN</button>

    <!-- <button mat-raised-button (click) = "closeAppointment(car.id)">CERRAR</button> -->

    <ng-template #content let-modal>
      <div class="modal-header">
        <mat-card-title><b> DETALLES DEL SERVICIO</b></mat-card-title>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <mat-card-subtitle><b>El carro:</b> {{car.carBrand}}<b>, del cliente:</b> {{car.ownerName}} </mat-card-subtitle>
        <mat-card-subtitle><b> Ingresado en:</b> {{car.appointmentDate}} </mat-card-subtitle>
        <mat-card-subtitle><b>Motivo de la cita: </b> {{car.reason}}</mat-card-subtitle>
        <mat-card-subtitle><b>Reparado por:</b> {{car.mechName}} </mat-card-subtitle>
        <mat-card-subtitle><b>Presentó el siguiente diagnóstico:</b> {{car.diagnostic}} </mat-card-subtitle>
        <mat-card-subtitle><b>Necesitó los siguientes repuestos: </b> {{car.repuestos}}</mat-card-subtitle>
        <mat-card-subtitle><b>Se le realizó el siguiente procedimiento: </b> {{car.procedure}}</mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-card-subtitle><b>INGRESE EL MONTO TOTAL DEL SERVICIO:     </b> 
          <form [formGroup] = "priceValue" (submit)="sendEmail($event)">
            <mat-form-field>
              <input formControlName="totalPriceService" name= "totalPriceService" class="price "type ="text" matInput placeholder="$$$"  >
            </mat-form-field>
            
            
              <input name="car" class="price" type ="hidden" value="{{car.carBrand}}"   >
           
              <input name="date" class="price" type ="hidden" value="{{car.appointmentDate}}"   >
           
              <input name="reason" class="price" type ="hidden" value="{{car.reason}}"   >
            
              <input name="mech" class="price" type ="hidden" value="{{car.mechName}}"   >
           
              <input name="diagnostic" class="price" type ="hidden" value="{{car.diagnostic}}"   >
           
              <input name="repuestos" class="price" type ="hidden" value="{{car.repuestos}}"   >
            
              <input name="procedure" class="price" type ="hidden" value="{{car.procedure}}"   >
              <!-- <div *ngFor="let car2 of cars"> -->
                <input name="email" class="price" type ="hidden" value="{{car.ownerEmail}}"   >
              
                <input name="name" class="price" type ="hidden" value="{{car.ownerName}}"   >

                <input name="ps" class="price" type ="hidden" value="{{car.totalPriceService}}">
              <!-- </div> -->

              <div class="modal-footer">
                <button type="submit" class="btn btn-lg btn-outline-primary" (click)="modal.close('Save click')" (click)=" closeOrder(car.carID, car.appointmentId, car.owner)" >CERRAR ORDEN</button>
              </div>
            
            
            </form>
          </mat-card-subtitle>
      </div>
     
    </ng-template>

  </div>

</mat-card>