mat-card{
    overflow-x: scroll;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(233, 233, 233);
    margin-bottom: 15px;
    width: 70%;
    margin-left: 14%;
    
}

h1{
    color: #2e3192;
    font-family: "Bree Serif", serif;
    margin-top: 3rem;
    margin-left: 15%;
}

.vehicle-container {
    display: flex; 
  } 
.vehicle-container p {
    font-size: 12px;
    padding-left: 5%;
    padding-right: 5%;
   

}

mat-card-subtitle{

    padding-left: 5%;
    padding-right: 5%;

}

button{
    color: white;
    background-color: #2e3192;
}
button:hover{
    color: #2e3192;
    background-color: white;
}
