h1{
    color: #2e3192;
    font-family: "Bree Serif", serif;
    margin-top: 3rem;
    text-align: center;
    margin-bottom: 5%;
}

h2{
    color: #2e3192;
    font-family: "Bree Serif", serif;
    padding: 0;
    margin: 0;
    font-size: xxx-large;
    margin-bottom: 2%;
}

.space{
    width: 100%;
    height: 95%;
    text-align: center;
    margin-bottom: 5%;
}

.mate{
    margin-top: 2%;
    width: 30%;
    float: left;
    text-align: center;
    margin-left: 2.5%;
    
    
}


img{
    width: 50%;
    height: 50%;
    margin-bottom: 1%;
    
}

p{
    margin-top: 5%;
}

@media only screen and (max-width: 600px) {
    h2{
        color: #2e3192;
        font-family: "Bree Serif", serif;
        padding: 0;
        margin: 0;
        font-size: x-large;
        margin-bottom: 2%;
    }
  }
  
  @media only screen and (min-width: 601px) {
    h2{
        color: #2e3192;
        font-family: "Bree Serif", serif;
        padding: 0;
        margin: 0;
        font-size: xx-large;
        margin-bottom: 2%;
    }
  }