<h2>REQUERIMIENTOS</h2>
<div class="requirements">
    <mat-card>

        <mat-card-content>
            <mat-list role="list">
                <mat-list-item role="listitem">Item 1</mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item 3</mat-list-item>
              </mat-list>              
        </mat-card-content>
        
      </mat-card>
</div>


<h1>REPUESTOS NECESARIOS / PROCEDIMIENTO APLICADO</h1>
<div class="resp-pro">
    <mat-card>

        <mat-card-content>
            <mat-list role="list">
                <mat-list-item role="listitem">Item 1</mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item 3</mat-list-item>
              </mat-list>              
        </mat-card-content>

        <button mat-raised-button class="agg-btn">AGREGAR</button>
        
      </mat-card>
</div>

<h1>DIAGNOSTICO</h1>
<div class="diagnostico">
    <mat-card class="example-card">
        
            <mat-card-content>
                <mat-list role="list" class="info-diagnostico">
                    <mat-list-item role="listitem">Item 1</mat-list-item>
                </mat-list> 
                
                <button mat-raised-button class="subir-btn" >SUBIR <br/>DIAGNOSTICO<br/><mat-icon>backup</mat-icon></button>
            </mat-card-content>
      </mat-card>
</div>
