.profile-vehicle{
    margin: 0  15%;
    margin-top: 1%;
    margin-bottom: 5%;
    box-shadow: none !important;
    border-width: 100%;
    background-color: white;
}

.agg-btn{
    margin-top: 3%;
    float: right;
}

.carros{
    background-color: rgb(241, 241, 241);
    
}

td {
    padding-right: 9%;
    align-items: center;
    flex-direction: row;
    position: -webkit-sticky;
position: sticky;
}

.vehicle-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    
  }
  
  .container mat-card-title {
    color: #2e3192;
  }
  
  .vehicle-container p {
    font-size: 12px;
    align-items: center;
  }
  
  .button-container {
    text-align: right;
    margin-top: 1rem;
  }
  
  .appointment-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  

  .status{
      color: #03A600;
  }

  .h-status{
      text-align: center;
      margin-top: 3%;
    
  }

  h1{
    color: #2E3192;
    font-family: "Bree Serif", serif;
    margin-left: 16%;
    margin-top: 8%;
  }
  

